<div class="page-width">
  <div class="footer-menu">
    {% for block in section.blocks %}
      <div class="footer-column">
        <h3 class="footer-column-header">
          <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
            <path d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z"/>
          </svg>
          {{ block.settings.title }}
        </h3>
        <ul class="footer-column-list">
          {% for i in (1..7) %}
            {% assign item_title_key = 'item_title_' | append: i %}
            {% assign item_url_key = 'item_url_' | append: i %}
            {% assign item_title = block.settings[item_title_key] %}
            {% assign item_url = block.settings[item_url_key] %}
            {% if item_title != blank %}
              <li>
                <a href="{{ item_url }}">{{ item_title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .footer-column-list li a {
    font-size: 14px;
  }
</style>

{% schema %}
{
  "name": "Custom_Footer",
  "tag": "section",
  "max_blocks": 3,
  "settings": [],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      // "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "ЗАГОЛОВОК БЛОКУ",
          "label": "Column title"
        },
        {
          "type": "text",
          "id": "item_title_1",
          "label": "Item 1 title"
        },
        {
          "type": "url",
          "id": "item_url_1",
          "label": "Item 1 URL"
        },
        {
          "type": "text",
          "id": "item_title_2",
          "label": "Item 2 title"
        },
        {
          "type": "url",
          "id": "item_url_2",
          "label": "Item 2 URL"
        },
        {
          "type": "text",
          "id": "item_title_3",
          "label": "Item 3 title"
        },
        {
          "type": "url",
          "id": "item_url_3",
          "label": "Item 3 URL"
        },
        {
          "type": "text",
          "id": "item_title_4",
          "label": "Item 4 title"
        },
        {
          "type": "url",
          "id": "item_url_4",
          "label": "Item 4 URL"
        },
        {
          "type": "text",
          "id": "item_title_5",
          "label": "Item 5 title"
        },
        {
          "type": "url",
          "id": "item_url_5",
          "label": "Item 5 URL"
        },
        {
          "type": "text",
          "id": "item_title_6",
          "label": "Item 6 title"
        },
        {
          "type": "url",
          "id": "item_url_6",
          "label": "Item 6 URL"
        },
        {
          "type": "text",
          "id": "item_title_7",
          "label": "Item 7 title"
        },
        {
          "type": "url",
          "id": "item_url_7",
          "label": "Item 7 URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom_Footer"
    }
  ]
}
{% endschema %}
